@use "mixins" as m;
@use "vars" as *;
@use 'sass:color';




.starter-template {
  li {
    @include m.capital
  }
  h1 {
    color: $themakleur;
    @include m.capital
  }

}


nav {
  background-color: #a2231d;
  padding: 5px;

  .navbar-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: (100% / ($menu-items+1));
      padding-right: 15px;
      @media #{$xsq} {width:100%;}
      &:hover {
        @include m.transform(1,2)
      }

      a {
        text-decoration: none;
        color: $in-themakleur;
      }
    }
  }

  .navbar-header {
    float: left;
    @media #{$xsq} {width:100%;}

    button {
      float: right;
      display: none;
      @media #{$xsq} {display: inline-block;}
    }
  }

  .navbar-brand {
    text-decoration: none;
    color: $merk-kleur;
  }

  .sr-only {
    display: none;
  }

  .icon-bar {
    width: 20px;
    height: 2px;
    background-color: slategray;
    margin: 2px;
    display: block;
  }


}

//$maxnr:6;
//$inc:15;
//$baseColor:darkblue;
//@for $i  from 1 through $maxnr{
//  h#{$i}{
//    font-size:($i*$inc)+px;
//    color: color.scale($baseColor,$lightness: ($i - 1)*20%);
//  }
//}
//
//
//



